    
</body>

  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-body-secondary"><p>© Albina Karimova <%= new Date().getFullYear() %></span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3 text-body-secondary">contac<a class="text-body-secondary" href="https://t.me/albina_karimov">t.me</a></li>
      </ul>
    </footer>
  </div>
 
  </html>