<%- include("partials/header.ejs") %>

<div class="container py-4">
    <div class="container-fluid py-5">
        <p class="col-md-8 fs-4">This website is my tribute to the one of my favorite place in the whole web once I was anthropology student. <br> To the <a href="https://www.750words.com/">750 words</a>.</p>
    </div>
</div>

<%- include("partials/footer.ejs") %>